window#waybar {
  background: transparent;
  color: #cdd6f4;
}

* {
  border-radius: 8px;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16;
}

#workspaces {
  background: rgba(30, 30, 46, 0.8);
  border: solid 4px #89b4fa;
  padding: 0 0.5rem;
}

#battery {
  background: rgba(30, 30, 46, 0.8);
  border: solid 4px #89b4fa;
  padding: 0 1rem;
}
